@font-face {
	font-family: 'OpenSans';
	src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
	font-size: 1em;
}
@font-face {
	font-family: 'OpenSans-Light';
	src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
	font-size: 1em;
}
header	{
	width: 100%;
	height: 90px;
	position: relative;
}
header .container {
	position: relative;
	padding-right: 0px;
    padding-left: 0px;
}

header .fundologo {
	width: 305px;
	height: 105px;
	background-color: #006699;
	position: absolute;
	z-index: 2;
}
header #logotipo {
	position: absolute;
	top: 30px;
	left: 45px;
	width: 205px;
}
header #logousp {
	height: 19px;
}

#menu1 {
	margin: 5px 0px;
}
#menu1 li {
	display: inline-block;
	font-family: "OpenSans";
	text-transform: uppercase;
}
#menu1 li a {
	color: #99CC00;
	font-size: 11px;
	padding: 15px;
	font-weight: bold;
}
#menu1 li.search {
	width: 200px;
}
#menu1 li.search input {
	color: #FFF;
	border: none;
	height: 30px;
	line-height: 30px;
}
#menu1 li.search ::-webkit-input-placeholder {
	color: #000;
}
#menu1 li.search button {
	background: none;
	border: none;
	position: absolute;
	right: 3px;
	top: 7px;
}
#menu1 li.search button i {
	font-size: 16px;
}
#menu1 li.search .input-group {
	top: 8px;
}

#menu2 {
	margin: 0px 0px;
}
#menu2 li {
	display: inline-block;
	font-family: "OpenSans";
	text-transform: uppercase;
	text-align: center;
}
#menu2 li a {
	font-size: 12px;
	font-weight: bold;
}
.topnav {
	overflow: hidden;
	background-color: #FFF;
}
.topnav a {
	float: left;
	display: block;
	color: #000;
	text-align: center;
	text-decoration: none;
	padding: 10px 25px;
}
.topnav a:hover {
	background-color: #000;
	color: #FFF;
}

#banner {
	height: 445px;
	top: -16px;
	position: relative;
	background: url("../img/fotos_cac.jpg") no-repeat;
	background-position: 0px 0px;
	background-size: 100%;
}
#banner h1 {
	font-family: 'OpenSans-Light';
	color: #FFF;
	font-size: 25px;
	font-weight: bold;
	top: 345px;
	position: relative;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, .45);
	margin-left: 260px;
}
#banner h1 small {
	font-family: 'OpenSans-Light';
	color: #FFF;
	font-size: 15px;
	display: block;
	padding-top: 10px;
}

#news {
	position: relative;
	width: 65%;
	border-style: solid;
	border-width: 1px;
	border-color: #006699;
	top: 30px;
}
#news h2 {
	color: #000;
	font-family: 'OpenSans';
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: right;
	margin-right: 20px;
}
#news .mainimg {
	width: 600px;
	margin-left: 16px;
	margin-bottom: 60px;
}
#news .thumbnails img {
	width: 280px;
}
#news a {
	color: #99CC00;
	font-size: 11px;
	padding: 15px;
	font-weight: bold;
}
#news .btn {
	min-width: 90px;
	height: 45px;
	line-height: 35px;
	border-radius: 0;
	margin-right: 20px;
	margin-bottom: 5px;
}
#news .btn-roxo {
	color: #FFF;
	background-color: #1d1e1c;
	border-color: #1d1e1c;
}

#boletim {
	position: relative;
	width: 65%;
	background-color: #006699;
	background-image: linear-gradient(-90deg, #006699, #8fbc24);
	top: 50px;
	height: 135px;
}
#boletim h2 {
	color: #FFF;
	font-family: 'OpenSans';
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: right;
	margin-right: 40px;
}
#boletim h2 small {
	font-family: 'OpenSans-Light';
	color: #FFF;
	font-size: 10px;
}

#boletim .input-group {
	float: right;
	padding-right: 15px;
	bottom: 6px;
}
#boletim input {
	width: 550px;
}
#boletim .btn {
	min-width: 90px;
	height: 30px;
	line-height: 17px;
	border-radius: 0;
}
#boletim .btn-roxo {
	color: #FFF;
	background-color: #1d1e1c;
	border-color: #1d1e1c;
}
#boletim .list-socials {
	margin-top: 5px;
}
#boletim .list-socials li {
	display: inline-block;
	margin-right: 8px;
}
#boletim .list-socials a {
	display: block;
	width: 50px;
	text-align: center;
}
#boletim .list-socials i {
	font-size: 35px;
	margin: 7px auto;
	color: #fff;
}

#agenda {
	position: relative;
	width: 65%;
	border-style: solid;
	border-width: 1px;
	border-color: #006699;
	top: 100px;
	height: 140px;
}
#agenda h2 {
	color: #000;
	font-family: 'OpenSans';
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: right;
	margin-right: 20px;
}

footer {
	margin-top: 200px;
	background-color: #333;
	font-family: 'OpenSans';
	color: #FFF;
}
footer .row {
	width: 100%;
}
footer .row-one {
	height: 200px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}
footer .row-two {
	height: 60px;
	font-size: 10px;
}
